.inline {
    display: inline;
}
  
.link-button {
    background: none;
    border: none;
    /* color: blue;
    text-decoration: underline; */
    cursor: pointer;
    /* font-size: 1em; */
}
.link-button:focus {
    outline: none;
}

#dtContainer {
    overflow-x: scroll;
}

#dtContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}